*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

/* Шаг 1. Лейаут */
.page {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-rows: auto 1fr;
  gap: 30px;
  padding: 0 30px 30px;
  inline-size: 100%;
  block-size: 100%;
}

.result {
  grid-column: 1;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
  margin-block-end: 16px;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  gap: 14px;
  align-items: flex-start;
}

.search-form__fieldset {
  border: none;
  flex-grow: 1;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin-block-end: 6px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.content__details {
  grid-column: 2;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.content__list-container {
  position: relative;
  inline-size: 100%;
  block-size: 298px;
  overflow-y: auto;
  overflow-x: hidden;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Шаг 2. Уточнение размеров */
.content__list-item {
  padding-inline: 3px;
}

.content__video-card {
  display: flex;
  gap: 0;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}

.content__video-card-description-container {
  flex-grow: 1;
  padding-inline-start: 6px;
}

/* Шаг 3. Стили текстов */

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 0.94;
  text-transform: uppercase;
}

.content__accent {
  line-height: 0.94;
}

.content__card-link {
  text-decoration: none;
  color: inherit;
  display: block;
  cursor: pointer;
}

.content__video-card-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  margin-block-end: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 0.9;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Шаг 4. Стилизуем формы и их состояния */
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.search-form__textfield {
  inline-size: 225px;
  block-size: 27px;
  border: none;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  appearance: none;
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__pseudo-checkbox {
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-inline-end: 5px;
}

.search-form__pseudo-checkbox::after {
  content: '';
  inline-size: 17px;
  block-size: 17px;
  background-color: #fff;
  display: none;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

/* Шаг 5. Стилизуем кнопки и их состояния */
.button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  outline: none;
}

.button:focus {
  outline: none;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__submit-button {
  inline-size: 194px;
  block-size: 34px;
  align-self: flex-end;
}

.more-button {
  inline-size: 100%;
  block-size: 34px;
}

/* Шаг 6. Состояния карточек */
.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}
